spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email

app:
  jwt:
    secret: ${JWT_SECRET_KEY}
    expiration-ms: 604800000  # 7 days
    cookie-name: ACCESS_TOKEN
  frontend:
    url: http://localhost:5173/home  # where to redirect after login
  gemini:
    api-key: ${GEMINI_API_KEY}
    model: gemini-2.0-flash
    base-url: https://generativelanguage.googleapis.com/v1beta/models
  unsplash:
    access-key: ${UNSPLASH_ACCESS_KEY}
    base-url: https://api.unsplash.com



